NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SPECIAL_USER_EMAIL=nayakshivani2003@gmail.com
SPECIAL_WELCOME_TITLE=
SPECIAL_WELCOME_MESSAGE=
SPECIAL_WELCOME_IMAGE=/special/welcome.png
SPECIAL_COMPLETION_TITLE=Congratulations
SPECIAL_COMPLETION_MESSAGE=
SPECIAL_CERTIFICATE_IMAGE=/special/certificate.png
SPECIAL_CHATBOT_MESSAGES=Thale nindh|Moka Taka Hog Haaa..|Kapada Shili
